@import "bootstrap/scss/bootstrap.scss";
.background-color{
    background-color: #efefef;
    height:100%
}

.app-class{
    .header-title{
    font-weight:600;
    font-size: 25px;
    color: #0C4DA2 
}
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    // background-image: url('./Protruding-Squares.svg');
    .autofill-component-wrapper{
        padding-top:100px; 
        .autofill-component{
        background: white;
        padding: 20px;
        border-radius: 20px;
        .react-autosuggest__input{
                outline: none;
    border: none;
    border-bottom: solid 2px #efefef;
    width: 100%;
    &:focus{
        border-bottom: solid 2px #094ca2;
    }
    
    }
        
        ul.react-autosuggest__suggestions-list{
            border: solid 1px #efefef;
            border-radius: 10px;
            
            list-style: none ;
            padding-left: 0px;
            padding:4px;
            cursor: pointer;
           li{ &:hover{
                background-color:#efefef 
            }}
        }
    

    }
    }
}